nav{
    background-color:#A4243B;
}
.sariborder{
    background-color:#A4243B;
    background-image: url(assets/1x/border3.webp);
    background-size: 15vh;
    background-blend-mode: luminosity;
}
footer{
    background-color:#A4243B;
}
#navbar li a{
    color:#FFFFEA;
    text-decoration: none;
}
#navbar li a:hover{
    color:#ffffff;
}
.dropdown {
    margin-left:-10vw;
    background-color:#A4243B;
}
footer{
    background-color:#A4243B ;
}
footer li a{
    color:#FFFFEA;
}
.burger div{
    background-color: #FFFFEA;
}
footer li a:hover{
    color:#ffffff;
}
h1{
    color: #04151F;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    margin:4vh 2vh 4vh 0vh;
}
#character{
    display: flex;
    flex-direction: row;
    width: 40vw;
    flex-wrap: wrap;
}
#character img{
    width: 20vw;
    flex-shrink:0;
    height:auto;
    cursor: grab;
}
#information{
    width: 40vw;
    display: flex;
    flex-direction: column;
}
#information p{
    color:#A4243B;
}
#resumeContact{
    margin: 2vh 1vh 2vh 0vh;
    display: flex;
    justify-content: space-between;
}
#resume{
    width: 35vh;
}
#resume li{
    list-style-type: none;
    color:#A4243B
}
#resume li li{
    color: #E36414;
    list-style:circle;
}
#contact{
    width: 15vw;
}
#contact ul{
    list-style-type: none;
}
#contact li{
    display: flex;
    align-items: center;
}
#contact li img{
    width:5vh;
    border-radius: 1vh;
    margin: 1vw;
}
#contact li img:hover{
    scale: 1.1;
    cursor: pointer;
    box-shadow: 0px 0px 4px 4px #e3631462;
}
@media (max-width: 700px) {
    main{
        flex-direction: column;
        align-items: center;
    }
    #character{
        width: 100vw;
        margin: 0 auto;
    }
    #character img{
        width: 32vw;
    }
    #information{
        width: 80vw;
    }
    #resumeContact{
        flex-direction: column;
        width: 100vw;
        
    }
    #resume{
        width: 80vw;
        margin-bottom: 4vh;
        
    }  
    #contact{
        width: 80vw;
    }    
    #resume h1{
        max-width: 80vw;
    }
    #navbar{
    background-color:#A4243B;
    }
    .dropdown{
        margin-left:-16vw;
    }
}