.tiro-tamil-regular {
  font-family: "Tiro Tamil", serif;
  font-weight: 400;
  font-style: normal;
}

.tiro-tamil-regular-italic {
  font-family: "Tiro Tamil", serif;
  font-weight: 400;
  font-style: italic;
}
.mukta-malar-extralight {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.mukta-malar-light {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.mukta-malar-regular {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mukta-malar-medium {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.mukta-malar-semibold {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.mukta-malar-bold {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.mukta-malar-extrabold {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 800;
  font-style: normal;
}
